body{

margin:0;
padding:0;
font-family:Arial, sans-serif;
background:#020b24;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

overflow:hidden;
}

/* MAIN CHAT CONTAINER */

.chat-container{

width:1250px;

height:88vh;

background:#07152f;

display:flex;

border-radius:28px;

overflow:hidden;

box-shadow:
0 0 40px rgba(0,0,0,0.5);
}

/* SIDEBAR */

.sidebar{

width:260px;

background:#08142e;

padding:22px;

border-right:
1px solid #1d2b53;
}

.sidebar h2{

font-size:38px;

margin-bottom:25px;

color:white;
}

/* USER BOX */

.user-box{

background:#1f2d4d;

padding:18px;

border-radius:14px;

margin-bottom:18px;

cursor:pointer;

font-size:19px;

display:flex;

align-items:center;

gap:10px;

transition:0.3s;
}

.user-box:hover{

background:#30456f;

transform:scale(1.02);
}

/* CHAT AREA */

.chat-box{

flex:1;

display:flex;

flex-direction:column;

padding:25px;
}

/* TOP BAR */

.top-bar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:10px;
}

.top-bar h1{

font-size:56px;

margin:0;

color:#3b82f6;
}

/* LOGOUT BUTTON */

.top-bar button{

background:#ff3b4a;

color:white;

border:none;

padding:14px 24px;

border-radius:14px;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

.top-bar button:hover{

background:#ff2233;
}

/* WELCOME */

.chat-box h3{

margin:6px 0;

font-size:24px;
}

.chat-box h4{

margin:0 0 15px 0;

font-size:17px;

color:#cbd5e1;
}

/* MESSAGE AREA */

.messages{

flex:1;

background:#1d2942;

border-radius:20px;

padding:22px;

overflow-y:auto;

display:flex;

flex-direction:column;
}

/* MY MESSAGE */

.my-message{

background:#3b82f6;

padding:16px;

border-radius:18px;

margin-bottom:18px;

margin-left:auto;

max-width:340px;

word-wrap:break-word;

animation:fadeIn 0.3s ease;
}

/* OTHER MESSAGE */

.other-message{

background:#334155;

padding:16px;

border-radius:18px;

margin-bottom:18px;

max-width:340px;

word-wrap:break-word;

animation:fadeIn 0.3s ease;
}

.my-message p,
.other-message p{

margin:5px 0;

font-size:17px;

line-height:1.5;
}

.my-message small,
.other-message small{

font-size:12px;

opacity:0.8;
}

/* INPUT AREA */

.input-area{

display:flex;

gap:15px;

margin-top:20px;
}

.input-area input{

flex:1;

padding:18px;

border:none;

border-radius:15px;

background:#334155;

color:white;

font-size:17px;

outline:none;
}

.input-area input::placeholder{

color:#cbd5e1;
}

/* SEND BUTTON */

.input-area button{

padding:18px 30px;

border:none;

border-radius:15px;

background:#3b82f6;

color:white;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

.input-area button:hover{

background:#2563eb;
}

/* SCROLLBAR */

.messages::-webkit-scrollbar{

width:8px;
}

.messages::-webkit-scrollbar-thumb{

background:#475569;

border-radius:10px;
}

/* ANIMATION */

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(10px);
}

to{

opacity:1;

transform:translateY(0);
}
}

/* EMOJI */

.emoji-container{

position:relative;
}

.emoji-btn{

background:#334155;

border:none;

color:white;

font-size:24px;

padding:0 18px;

border-radius:14px;

cursor:pointer;

height:60px;
}

.emoji-picker{

position:absolute;

bottom:70px;

left:0;

z-index:100;
}

/* MESSAGE INFO */

.message-info{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:8px;

font-size:12px;

opacity:0.8;
}

/* STATUS */

.status{

margin-left:10px;

font-size:12px;

color:#dbeafe;
}

/* ADD THIS AT BOTTOM OF Chat.css */

.message-info{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:8px;

font-size:12px;

opacity:0.8;
}

.status{

margin-left:10px;

font-size:12px;

color:#dbeafe;
}

.typing{

margin-top:10px;

font-size:15px;

color:#cbd5e1;
}

/* EMOJI */

.emoji-container{

position:relative;
}

.emoji-btn{

background:#334155;

border:none;

color:white;

font-size:24px;

padding:0 18px;

border-radius:14px;

cursor:pointer;

height:60px;
}

.emoji-picker{

position:absolute;

bottom:70px;

left:0;

z-index:100;
}

/* PROFILE */

.top-left{

display:flex;
align-items:center;
gap:15px;
}

.profile-pic{

width:60px;
height:60px;

border-radius:50%;

object-fit:cover;

cursor:pointer;
}

.default-profile{

width:60px;
height:60px;

border-radius:50%;

background:#334155;

display:flex;
justify-content:center;
align-items:center;

font-size:28px;

cursor:pointer;
}

.top-actions{

display:flex;
gap:12px;
}

.theme-btn{

background:#f59e0b;
}

/* PROFILE MODAL */

.profile-modal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
rgba(0,0,0,0.7);

display:flex;

justify-content:center;
align-items:center;

z-index:999;
}

.profile-card{

background:#0f172a;

padding:40px;

border-radius:24px;

text-align:center;

width:350px;
}

.big-profile{

width:120px;
height:120px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;
}

.big-default{

width:120px;
height:120px;

border-radius:50%;

background:#334155;

display:flex;
justify-content:center;
align-items:center;

font-size:60px;

margin:auto;
margin-bottom:20px;
}

/* LIGHT MODE */

body.light{

background:#f1f5f9;
color:black;
}

body.light .chat-container{

background:white;
}

body.light .messages{

background:#e2e8f0;
}

body.light .sidebar{

background:#cbd5e1;
}

body.light .chat-box{

color:black;
}

/* LIGHT MODE FIX */

body.light{

background:#e2e8f0;
color:#111827;
}

/* MAIN CONTAINER */

body.light .chat-container{

background:#f8fafc;
}

/* SIDEBAR */

body.light .sidebar{

background:#cbd5e1;
}

body.light .sidebar h2{

color:#111827;
}

/* USER BOX */

body.light .user-box{

background:#1e3a5f;
color:white;
}

/* CHAT AREA */

body.light .chat-box{

background:#f8fafc;
color:#111827;
}

/* TOP TEXT */

body.light .chat-box h1{

color:#2563eb;
}

body.light .chat-box h3,

body.light .chat-box h4{

color:#111827;
}

/* MESSAGES AREA */

body.light .messages{

background:#dbe4f0;
}

/* MY MESSAGE */

body.light .my-message{

background:#3b82f6;
color:white;
}

/* OTHER MESSAGE */

body.light .other-message{

background:#475569;
color:white;
}

/* INPUT */

body.light .input-area input{

background:#475569;
color:white;
}

body.light .input-area input::placeholder{

color:#cbd5e1;
}

/* PROFILE CARD */

body.light .profile-card{

background:white;
color:#111827;
}

/* TYPING */

body.light .typing{

color:#111827;
}

/* USER ROW */

.user-row{

display:flex;

justify-content:space-between;

align-items:center;

width:100%;
}

/* UNREAD BADGE */

.unread-badge{

background:#ef4444;

color:white;

min-width:24px;
height:24px;

border-radius:50%;

display:flex;

justify-content:center;
align-items:center;

font-size:13px;

font-weight:bold;
}

/* MESSAGE ACTIONS */

.message-actions{

display:flex;

gap:10px;

margin-top:10px;
}

.message-actions button{

background:#1e293b;

border:none;

padding:6px 10px;

border-radius:8px;

cursor:pointer;

color:white;

font-size:14px;
}

/* EDITED */

.edited{

font-size:12px;

opacity:0.7;
}

.small-file-input{

width:140px !important;

font-size:12px;

padding:8px;

flex:none !important;

background:#334155;

color:white;

border-radius:12px;
}

.input-area input[type="text"]{

flex:1;

min-width:420px;
}

.logo-section{

display:flex;

flex-direction:column;

gap:6px;
}

.welcome-text{

font-size:28px;

font-weight:600;

color:white;

margin-left:8px;
}

.voice-player{

width:220px;

margin-top:10px;
}

.welcome-text{

font-size:28px;

font-weight:700;

color:white;
}

body.light .welcome-text{

color:#111827;
}

.online-user-name{

font-size:24px;

font-weight:600;

color:white;
}

.no-users{

color:#94a3b8;

font-size:18px;

margin-top:20px;

text-align:center;
}

.record-controls{

display:flex;

gap:10px;
}

.preview-audio{

margin-bottom:10px;
}

.preview-audio audio{

width:250px;
}

.custom-file-upload{

background:#2563eb;

padding:12px 18px;

border-radius:12px;

color:white;

font-weight:600;

cursor:pointer;

white-space:nowrap;
}

.custom-file-upload:hover{

background:#1d4ed8;
}

.ai-mode-btn{

background:#7c3aed;

color:white;

border:none;

padding:12px 18px;

border-radius:12px;

cursor:pointer;

font-weight:600;
}

.ai-mode-btn:hover{

background:#6d28d9;
}

.selected-file-name{

color:white;

font-size:14px;

margin-bottom:8px;

margin-left:10px;

font-weight:600;
}

.translate-btn{

margin-top:8px;

padding:6px 10px;

border:none;

border-radius:8px;

background:#0ea5e9;

color:white;

cursor:pointer;

font-size:12px;
}

.group-btn{

background:#10b981;

color:white;

border:none;

padding:12px 18px;

border-radius:12px;

cursor:pointer;

font-weight:600;
}

.translate-select-box{

margin-bottom:10px;
}

.translate-select-box select{

padding:10px;

border-radius:10px;

background:#334155;

color:white;

border:none;

outline:none;
}

.translate-select-box{

margin-bottom:10px;
}

.translate-select-box select{

padding:10px;

border-radius:10px;

background:#334155;

color:white;

border:none;

outline:none;
}

.selected-file-name{

color:white;

font-size:14px;

margin-bottom:8px;

margin-left:10px;

font-weight:600;
}

.record-controls{

display:flex;

gap:10px;
}

.preview-audio{

margin-bottom:10px;
}

.preview-audio audio{

width:250px;
}


